@import 'utilities.css';
:root{
    --primary: rgb(245, 138, 190);
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}
body{
    font-family: 'poppins',sans-serif;
    background-color:  rgb(212, 189, 200);
}
*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    --webkit-font-smoothing:antialiased;
}
header{
    background:var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
    
    
}
  .container{
    max-width: 1152px;
padding: 0 15px;
margin: 0 auto;
}
header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    transition: all .3s ease;
    
}
header nav .left a:hover{
    color: var(--primary);

}
header nav{
    padding: 2rem 0;
}
header nav .branding{
margin-right: 3rem;
}
.hero{
    padding: 3rem 0;
}
 .hero .left img{
     width: 400px;
     height: 500px;
 }
 .hero .right{
     color: var(--pure);
 }
 .hero .right h6{
     font-size: 1.6rem;
     color: var(--primary);
     margin-bottom: 0.5rem;
 }
 .hero .right h1{
     font-size: 4rem;
     font-weight: 100;
     line-height: 1.2;
     margin-bottom: 2rem;
 }
 .hero .right h1 span{
     color: var(--primary);
 }
 .hero .right p{
     padding: 2px;
     margin: 10px;
 }
 .hero .right {
     margin-top: -7rem;
 }
 section{
     padding: 6rem 0;
     background-color: rgb(212, 189, 200);
 }
 section.about .abm{
     height:500px;
 }
 section.about h1{
     margin-bottom: 1rem;
     font-size: 1.6 rem;
     font-weight: 400;

 }
 section.about h1 span{
 color: var(--primary);
 }
 section.about h3{
     font-size: 1rem;
     margin-bottom: 1rem;
     font-weight: 400;
     
 }
 section.about p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color:black;
     line-height: 1.9;
     margin-bottom: 2rem;

}
section.about .social{
    display: flex;
}
section.about .social a{
    background: var(--dark);
    display:flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease;
}
section.about .social a:hover{
    background: var(--primary);
}
section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}
.sec-head{
color: var(--secondary);
text-align: center;
margin-bottom: 3rem;
line-height: 0.5;
}
.sec-head span{
    color: var(--primary);
    
}
.sec-head + p{
    color: var(--ternary);
    font-family: sans-serif;
    margin-bottom: 8rem;
    text-align: center;

}
section.service
{
    background:var(--light);
}
section.service .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    
    grid-row-gap: 6rem;
}

section.service .card-wrapper img{
    height: 120px;
    width: 120px;
}

section.service .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
     transition: all .3s ease;

}
section.service .card-wrapper .card{
    background-color: rgb(170, 152, 152);
}
section.service .card-wrapper .card img{
    position:absolute;
    top:-3.5rem;
    left:50%;
    transform: translateX(-50%);
    
}
section.service .card-wrapper .card h2{
    font-weight: 4000;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.service .card-wrapper .card p{
    font-family: sans-serif;
    color: rgb(2, 2, 22);
    line-height: 1.6;
}
section.service .card-wrapper .card:hover{
    background: var(--dark);
}
section.service .card-wrapper .card:hover h2,section.service .card-wrapper .card:hover p{
    color:var(--pure);
}
section.free{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/camera.png);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom: 14rem;
    color: var(--pure);
}
section.free h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.free p{
    margin-bottom: 2rem;
    font-family:sans-serif;
}
section.review .slider .slide img{
    width:520px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 5rem;

    
}
section.review .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
}
section.review .slider .slide p{
    font-family: 'lato',sans-serif;
    color:rgb(73, 73, 88);
    margin-bottom: 1rem;
}
section.review .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
section.review .slider-dots{
    margin-top: 3rem;
}
section.review .slider-dots button{
    font-size: 0;
    width: 10px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
}
section.work{
    background: var(--light);
}
section.work .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
section.work .card-wrapper .card{
    position: relative;
    
}
section.work .card-wrapper .card .overlay{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width:100%;
    background: rgba(61,207,211,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: lightblue;
    opacity: 0;
    transition: all .3s ease;
}
section.work .card-wrapper .card:hover .overlay{
    opacity: 1;
}
section.work .card-wrapper .card .overlay a{
    color: var(--secondary);
    text-decoration: none;
}
section.work .card-wrapper .card img{
    height: 100%;
    width: 100%;
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;

}
section.contact .card-wrapper .card h5{
    font-weight: 200;
    color: var(--ternary);

}
section.contact .input-wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap textarea{
    padding: 0.5rem;
    border: 1px solid var(--light)
}
section input:focus{
    outline: null;


}
section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}
footer{
    background-color:var(--dark);
    text-align: center;
    padding: 5rem 0;
}
footer .footer-logo{
    margin-bottom: 3rem;
    width: 150px;
}
 footer .social a{
    margin-right: 2rem;
}
 footer .social img {
    height: 30px;
    width:30px;
    margin-bottom:2rem
}
 footer .copyright{
    color: var(--ternary)
    
}
.site-main-wrapper{
    position:relative;
}
.hamberger{
    position:absolute;
    top:40px;
    right:40px;
    z-index:11;
    background:none;
    border:none;
    outline: none;
    cursor: pointer;
    display:none;
}
.hamberger img{
    width:30px;
}

.mobile-nav{
   position: fixed;
   top:0;
   left:0;
   z-index:1001;
   background:var(--light);
   width:100%;
   height:100%;
   padding:2rem;
   padding-top:5rem;
   transform: translateX(-100%);
   -webkit-transform: translateX(-100%);
   -moz-transform: translateX(-100%);
   -ms-transform: translateX(-100%);
   -o-transform: translateX(-100%);
   transition:all .5s ease-in-out;
   -webkit-transition:all .5s ease-in-out;
   -moz-transition:all .5s ease-in-out;
   -ms-transition:all .5s ease-in-out;
   -o-transition:all .5s ease-in-out;
}
.open{
    transform:translateX(0);
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
}
.times{
   position:fixed;
   top:30px;
   right:30px;
   border: none;
   background:none;
   outline:none;
   cursor: pointer; 
}
.times img{
    width:30px;
}

.mobile-nav ul{
    list-style-type: none;
}
.mobile-nav ul li a{
    color:var(--secondary);
    text-decoration:none;
    font-size: 2rem;
}

@media (max-width:1024px){
    header #main-nav{
        display:none;
    }
    .hamberger{
        display: block;
    }
    .hero .left img{
        width:260px;
    }
    .hero .right h1{
        font-size: 3rem;
    }
    .hero{
        padding-top:10rem;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 89%, 0 100%);
    }
    section.about .abm{
        height: 360px;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    section.blog .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.blog{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
    }
}

@media (max-width:576px){
    .hero{
        flex-direction: column;
        height: 430px;
            }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 95%, 0 100%);
    }
    .hero .right{
        position: absolute;
        top:260px;
        padding:1rem 2rem;
        background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    }
    .hero .left{
        margin-top:-5rem;
        margin-right: -9rem;
        padding-bottom:4rem;
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    .about .right{
        text-align: center;
        margin-top:2rem;
    }
    .about .right .social{
        justify-content: center;
    }
    section{
        padding: 4rem 0;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
        margin-top:6rem;
    }
    section.freelancer h1{
        line-height:1.2;
    }
    section.freelancer{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
        padding-bottom: 8rem;
    }
    section.reviews .slider .slide{
        padding:0;
    }
    .sec-head+ p{
        margin-bottom: 3rem;
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.contact .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.contact .input-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
}